<div class="bg-gray-900 mt-auto">
  <div class="container mx-auto px-6 pt-10 pb-6">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 text-white">
        <h5 class="uppercase mb-6 font-bold">About</h5>
        <p>
          My ChatBot utilizes OpenAI's technology to provide users with a rich,
          interactive experience, offering insights and responses based on
          cutting-edge AI research.
        </p>
      </div>
      <div class="w-full md:w-1/2 text-white">
        <h5 class="uppercase mb-6 font-bold">Contact Me</h5>
        <ul class="mb-4">
          <li>
            <a
              href="https://www.linkedin.com/in/valeriiosinnii/"
              class="text-blue-300 hover:text-blue-500"
              target="_blank"
              >Valerii</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
