<div class="flex flex-col min-h-screen">
  <header class="bg-my-blue text-white p-4">
    <div class=" mx-auto flex justify-between items-center ml-3">
      <h1 class="font-bold justify">{{ home }}</h1>
      <nav class="flex flex-row space-x-4 mr-3">
        <a>Try ChatBot</a>
        <a>Contact</a>
      </nav>
    </div>
  </header>

  <main class="grow bg-gray-800">
    <app-home></app-home>
  </main>

  <footer class="bg-my-blue text-white p-4">
    <div class="flex container mx-auto justify-center">
      © 2024 Valerii
    </div>
  </footer>
</div>